<% layout("/layouts/boilerplate")%>
<div class="row mt-5">
    <div class="col-8 offset-2">

    <h3>Edit your Listing</h3>
    <br>
    <form  method="POST" action="/listing/<%= listings._id %>?_method=PUT" novalidate
        class="needs-validation">
        <div class="mb-3">
            <Label for="title" class="form-label">Title</Label>
            <input type="text" value="<%=listings.title %>" name="listing[title]"class="form-control" required >
            <div class="valid-feedback">Title looks good</div>
        </div>
       
        
        <div class="mb-3">
            <Label for="description" class="form-label">Description</Label>
            <textarea type="text"  name="listing[description]" class="form-control" required><%=listings.description%></textarea>
            <div class="invalid-feedback">
                Please enter a short description
             </div>
        </div>
        <div class="mb-3">
            <Label for="image" class="form-label">Image Link</Label>
            <input type="text" value="<%=listings.image.url %>" name="listing[url]" class="form-control" required>
            <div class="invalid-feedback">
                Please enter a Image url
             </div>
        </div>
        
       <div class="row">
      <div class="mb-3 col-md-4">
        <Label for="price" class="form-label">Price</Label>
        <input type="number" value="<%=listings.price%>"  name="listing[price]" class="form-control" required>
        <div class="invalid-feedback">
            Please enter a Price
         </div>
    </div>
     
        <div class="mb-3 col-md-8">
            <Label for="country" class="form-label">Country</Label>
            <input type="text" value="<%=listings.country %>"  name="listing[country]" class="form-control" required>
            <div class="invalid-feedback">
                Please enter a Country
             </div>
        </div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</Label>
            <input type="text" value="<%=listings.location %>"  name="listing[location]" class="form-control" required>
            <div class="invalid-feedback">
                Please enter a Location
             </div>
        </div>
    
        <button class="btn btn-dark edit-btn mb-3" >Edit</button>
        <br><br><br>
       
    </form>
    </div>
    </div>
    <!-- <script src="/js/script.js"></script> -->

